<div class="row">
	<h1 class="pagination-centered pull-left" style="color: #E31">
		<img src="http://static.mkfree.com/vps/images/index/vps-logo.png" class="img-rounded" width="100px;" height="100px;"><a target="_blank"
			href="${mkfree_blog_url}vps"><span style="font-size: 30px; color: red;">vps 季付,半年付 优惠多多(新站促销),详细点击!!</span></a>
	</h1>
	<h1 class="pagination-centered pull-left" style="color: #E31">
		<img src="http://static.mkfree.com/vps/images/index/vps-logo.png" class="img-rounded" width="100px;" height="100px;"><a target="_blank"
			href="${mkfree_blog_url}posts/5269b467479e6084c83f19d8"><span style="font-size: 30px; color: red;">本站提供免费VPN使用,详细点击!</span></a>
	</h1>
</div>