<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container" style="font-size: 20px;height: 60px;">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse" style="margin-top: 6px;">
				<ul class="nav navbar-nav">
					<li><a href="${mkfree_blog_url}">首 页</a></li>
					<!-- <li class="active"><a href="${mkfree_blog_url}">博客</a></li> -->
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">java core 教程 <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="${mkfree_blog_url}posts/5112a1d7975a15ea1757d846">java i/o 教程</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">order 教程 <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="${mkfree_blog_url}posts/51278bba975a07b8f133bbb8">thrift 资料</a></li>
							<li><a href="${mkfree_blog_url}posts/51679f71975a2683ccfee2cc">elasticsearch java api 教程</a></li>
						</ul></li>
					<li><a href="${mkfree_blog_url}vps">VPS</a></li>
				</ul>
				<#if sso_user?? >
				<ul class="nav navbar-nav pull-right">
					<li><a href="#">${sso_user.nick}</a></li>
					<li><a href="${mkfree_blog_url}${sso_user.account}/space/admin">我的博客</a></li>
					<li><a href="${mkfree_blog_url}sso/logout">退出</a></li>
				</ul>
				<#else>
				<form class="form-inline pull-right" action="${mkfree_blog_url}sso/login" method="post" role="form" style="margin-top: 8px;">
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmail2">帐 号</label> <input type="text" name="account" class="form-control" id="exampleInputEmail2" placeholder="帐 号">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputPassword2">密 码</label> <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="密 码">
					</div>
					<button type="submit" class="btn btn-primary dropdown-toggle">登 录</button>
					<a class="btn btn-success dropdown-toggle" href="http://blog.mkfree.com/sso/register" target="_blank">注 册</a>
				</form>
				</#if>
			</div>
		</div>
	</nav>