<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>mkfree vps 为客户提供便宜的VPS产品 - mkfree博客</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Mkfree-VPS 是一个专门提供国外高性价比的VPS提供商，致力于提供性价比最高的VPS产品。我们每款产品均有7天退款期,支持支付宝付款，支付后10分钟生成VPS">
<meta name="author" content="">

<!-- Le styles -->
<link href="http://static.mkfree.com/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="http://static.mkfree.com/common/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="../assets/ico/favicon.png">
</head>

<body>
	<#include "../include/vpsNavigation.html"/>
    <!-- Carousel ================================================== -->
    <div id="myCarousel" class="container carousel slide">
      <div class="carousel-inner">
        <div class="item active" style="margin-top: 100px;">
          <img src="http://static.mkfree.com/vps/images/index/vps-server4.jpg" alt="">
          <div class="container">
            <div class="carousel-caption offset5" style="margin-top: 250px;">
              <h1><font style="color:blue;">多种方案选择</font></h1>
              <p class="lead" style="color: green;">vps 架构方案 openvz 、xen,这两种都是非常优秀的开源VPS架构。windows 暂时不提供</p>
             <!--  <a class="btn btn-large btn-primary" href="#">Browse gallery</a> -->
            </div>
          </div>
        </div>
        <div class="item " style="margin-top: 100px;">
          <img src="http://static.mkfree.com/vps/images/index/vps-server1.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1><font style="color:blue;">美国拉斯维加斯服务器</font></h1>
              <p class="lead" style="color: green;">独立ip,权限root,你可以在vps里搭建任何应用，当然少不了搭建vpn了。</p>
             <!--  <a class="btn btn-large btn-primary" href="#">Sign up today</a> -->
            </div>
          </div>
        </div>
<!--         <div class="item" style="margin-top: 100px;">
          <img src="http://static.mkfree.com/vps/images/index/vps-server2.jpg" alt="" style="height: 350px; width: 800px;">
          <div class="container">
            <div class="carousel-caption">
              <h1><font style="color:blue;">Another example headline.</font></h1>
              <p class="lead" style="color: green;">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div> -->
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><font style="color: black;">&lsaquo;</font></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><font style="color: black;">&rsaquo;</font></a>
    </div><!-- /.carousel -->

	<div class="container" style="border: 1px solid #cccccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;background-color: white;">
		<h3>欢迎使用我们的VPS!Mkfree-VPS致力于提供性价比最高的VPS产品,每款产品均有7天退款期,欢迎使用.</h3>
		<hr>
	  <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span3">
          <img class="img-circle" src="http://static.mkfree.com/vps/images/index/happy2.png" width="48px;" height="48px;"><span style="font-size: 25px;font-weight: bold;">&nbsp;&nbsp;&nbsp;严格隔离</span>
          <p>得益于VPS相对独立的用户隔离的特性，其安全性相比Shared Hosting（共享虚拟主机）有得天独厚的提高。每个vps访问的都跑着独立的操作系统，拥有独立的内存、独立的硬盘空间，你的数据安全性将是千倍万倍的提升。</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div><!-- /.span4 -->
        <div class="span3">
          <img class="img-circle" src="http://static.mkfree.com/vps/images/index/happy3.png" width="48px;" height="48px;"><span style="font-size: 25px;font-weight: bold;">&nbsp;&nbsp;&nbsp;高安全性</span>
          <p>得益于VPS相对独立的用户隔离的特性，其安全性相比Shared Hosting（共享虚拟主机）有得天独厚的提高。每个vps访问的都跑着独立的操作系统，拥有独立的内存、独立的硬盘空间，你的数据安全性将是千倍万倍的提升。</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div><!-- /.span4 -->
        <div class="span3">
          <img class="img-circle" src="http://static.mkfree.com/vps/images/index/happy.png" width="48px;" height="48px;"><span style="font-size: 25px;font-weight: bold;">&nbsp;&nbsp;&nbsp;用户体验</span>
          <p>用户可以在VPS上安装自己喜欢的操作系统，喜欢哪个 Linux发行版就装哪个，可以随时“重装系统”；想用Windows那就使用windows的服务器操作系统。想装什么软件就装什么软件，比如你喜欢 apache作web服务器那就用apache，想用nginx就用nginx，想用最新版本的php就装最新版本的，如果你想用最新的技术，如 node.js，几乎没有哪家虚拟主机支持，但vps上完全没问题，还有memcached, noSQL等等也一样。这些在传统虚拟主机是根本不可想像的。</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div><!-- /.span4 -->
        <div class="span3">
          <img class="img-circle" src="http://static.mkfree.com/vps/images/index/happy1.png" width="48px;" height="48px;"><span style="font-size: 25px;font-weight: bold;">&nbsp;&nbsp;&nbsp;价格便宜</span>
          <p>这点是相对实体服务器而言的。可以想像，想拥有上面提到的种种优点，自己购(或租)一台服务器，平均每个月花费起码也得花费六七百块钱，而vps可能几十块钱就够了。当然，相对于虚拟主机，还是贵不少的。按性价比算，还是物有(超)所值的！</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div><!-- /.span4 -->
      </div><!-- /.row -->
	</div>
	<div class="container" >
		<h1 class="pagination-centered pull-left" style="color: #E31">
			<img src="http://static.mkfree.com/vps/images/index/vps-logo.png" width="100px;" height="100px;" class="img-rounded"> VPS 服务器优惠大促销（现有服务器）,各种优惠送不停.免费体验一日
		</h1>
		<table class="table" style="border: 1px solid #cccccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;background-color: white;">
			<tbody>
				<tr class="success">
					<td>名称</td>
					<td>类型</td>
					<td>内存</td>
					<td>cpu</td>
					<td>硬盘</td>
					<td>月付</td>
					<td>季付</td>
					<td>半年付</td>
					<td>宽带</td>
					<td>宽带流量</td>
					<td>数量</td>
				</tr>
				<tr  class="warning">
					<td>openvz 512 MB VPS</td>
					<td>openvz</td>
					<td>512 MB</td>
					<td>单核</td>
					<td>10G</td>
					<td><span class="label label-info">￥25/月</span></td>
					<td><span class="label label-info">￥70/季</span><span class="label label-important">优惠5元</span></td>
					<td><span class="label label-info">￥140/半年</span><span class="label label-important">优惠10元</span></td>
					<td>100M/S</td>
					<td>没有限制</td>
					<td>8</td>
				</tr>
				<tr  class="info">
					<td>openvz 1024 MB VPS</td>
					<td>openvz</td>
					<td>1024 MB</td>
					<td>单核</td>
					<td>20G</td>
					<td><span class="label label-info">￥50/月</span></td>
					<td><span class="label label-info">￥130/季</span><span class="label label-important">优惠20元</span></td>
					<td><span class="label label-info">￥250/半年</span><span class="label label-important">优惠50元</span></td>
					<td>100M/S</td>
					<td>没有限制</td>
					<td>4</td>
				</tr>
				<tr class="warning">
					<td>openvz 2048 MB VPS</td>
					<td>openvz</td>
					<td>2048 MB</td>
					<td>单核</td>
					<td>50G</td>
					<td><span class="label label-info">￥100/月</span></td>
					<td><span class="label label-info">￥250/季</span><span class="label label-important">优惠50元</span></td>
					<td><span class="label label-info">￥450/半年</span><span class="label label-important">优惠150元</span></td>
					<td>100M/S</td>
					<td>没有限制</td>
					<td>2</td>
				</tr>
				<tr>
					<td colspan="10"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1109349806&site=qq&menu=yes">购买<img border="0" src="http://wpa.qq.com/pa?p=2:1109349806:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>&nbsp;&nbsp;24小时在线</td>
					<td><span class="label label-important">支付宝帐号:381895649@qq.com  欧阳帆</span></td>
				</tr>
			</tbody>
		</table>
<!-- 		<table class="table table-striped">
			<tbody>
				<tr class="success">
					<td>vps 配置(512M)内存</td>
					<td>vps 配置(1G)内存</td>
					<td>vps 配置(2G)内存</td>
					<td>vps 配置(3G)内存</td>
					<td>vps 配置(4G)内存</td>
				</tr>
				<tr class="warning">
					<td>cpu:单核</td>
					<td>cpu:双核</td>
					<td>cpu:双核</td>
					<td>cpu:双核</td>
					<td>cpu:双核</td>
				</tr>
				<tr class="success">
					<td>硬盘:10G</td>
					<td>硬盘:20G</td>
					<td>硬盘:50G</td>
					<td>硬盘:80G</td>
					<td>硬盘:150G</td>
				</tr>
				<tr class="warning">
					<td>带宽:100MB/S <span class="label label-info">总流量:1TB</span></td>
					<td>带宽:100MB/S <span class="label label-info">总流量:2TB</span></td>
					<td>带宽:100MB/S <span class="label label-info">总流量:3TB</span></td>
					<td>带宽:100MB/S <span class="label label-info">总流量:4TB</span></td>
					<td>带宽:100MB/S <span class="label label-info">总流量:5TB</span></td>
				</tr>
				<tr class="success">
					<td>ip地址:1个</td>
					<td>ip地址:1个</td>
					<td>ip地址:1个</td>
					<td>ip地址:1个</td>
					<td>ip地址:1个</td>
				</tr>
				<tr class="warning">
					<td>价格:<span class="label label-info">25元</span>/月</td>
					<td>价格:<span class="label label-info">50元</span>/月</td>
					<td>价格:<span class="label label-info">100元</span>/月</td>
					<td>价格:<span class="label label-info">150元</span>/月</td>
					<td>价格:<span class="label label-info">200元</span>/月</td>
				</tr>
				<tr class="warning">
					<td>价格:<span class="label label-info">75元</span>/季 <span class="label label-important">优惠5元</span></td>
					<td>价格:<span class="label label-info">150元</span>/季 <span class="label label-important">优惠20元</span></td>
					<td>价格:<span class="label label-info">300元</span>/季 <span class="label label-important">优惠50元</span></td>
					<td>价格:<span class="label label-info">450元</span>/季 <span class="label label-important">优惠100元</span></td>
					<td>价格:<span class="label label-info">600元</span>/季 <span class="label label-important">优惠150元</span></td>
				</tr>
				<tr class="warning">
					<td>价格:<span class="label label-info">150元</span>/半年 <span class="label label-important">优惠10元</span></td>
					<td>价格:<span class="label label-info">300元</span>/半年 <span class="label label-important">优惠40元</span></td>
					<td>价格:<span class="label label-info">600元</span>/半年 <span class="label label-important">优惠100元</span></td>
					<td>价格:<span class="label label-info">900元</span>/半年 <span class="label label-important">优惠300元</span></td>
					<td>价格:<span class="label label-info">1200元</span>/半年 <span class="label label-important">优惠500元</span></td>
				</tr>
				<tr class="success">
					<td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1109349806&site=qq&menu=yes">购买<img border="0" src="http://wpa.qq.com/pa?p=2:1109349806:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></td>
					<td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1109349806&site=qq&menu=yes">购买<img border="0" src="http://wpa.qq.com/pa?p=2:1109349806:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></td>
					<td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1109349806&site=qq&menu=yes">购买<img border="0" src="http://wpa.qq.com/pa?p=2:1109349806:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></td>
					<td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1109349806&site=qq&menu=yes">购买<img border="0" src="http://wpa.qq.com/pa?p=2:1109349806:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></td>
					<td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1109349806&site=qq&menu=yes">购买<img border="0" src="http://wpa.qq.com/pa?p=2:1109349806:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></td>
				</tr>
			</tbody>
		</table> -->
	</div>
	<div class="container">
      <div class="row">
        <div class="span6">
          <img class="img-circle" src="http://static.mkfree.com/vps/images/index/ico-info.png" width="48px;" height="48px;"><span style="font-size: 25px;font-weight: bold;">&nbsp;&nbsp;&nbsp;为什么选择Mkfree-VPS?</span>
          <p><img class="img-circle" src="http://static.mkfree.com/vps/images/index/dd.jpg">&nbsp;&nbsp;&nbsp;使用支付宝支付，无需申请国际信用卡</p>
          <p><img class="img-circle" src="http://static.mkfree.com/vps/images/index/dd.jpg">&nbsp;&nbsp;&nbsp;价格相对于国内外的VPS提供商来说都更为优惠</p>
          <p><img class="img-circle" src="http://static.mkfree.com/vps/images/index/dd.jpg">&nbsp;&nbsp;&nbsp;有Openvz和Xen等多种类型VPS可供选择</p>
          <p><img class="img-circle" src="http://static.mkfree.com/vps/images/index/dd.jpg">&nbsp;&nbsp;&nbsp;所有VPS均选择优化对国内访问的国际线路</p>
          <p><img class="img-circle" src="http://static.mkfree.com/vps/images/index/dd.jpg">&nbsp;&nbsp;&nbsp;所有的VPS均免费提供一个独立的IPv4地址</p>
          <p><img class="img-circle" src="http://static.mkfree.com/vps/images/index/dd.jpg">&nbsp;&nbsp;&nbsp;中文客服在线技术支持</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div>
        <div class="span6">
          <img class="img-circle" src="http://static.mkfree.com/vps/images/index/add1.png" width="48px;" height="48px;"><span style="font-size: 25px;font-weight: bold;">&nbsp;&nbsp;&nbsp;用户最新提问</span>
          <p><img class="img-circle" src="http://static.mkfree.com/vps/images/index/dd.jpg">&nbsp;&nbsp;&nbsp;我现在不会ssh能不能帮我安装cpanel去管理vps呢？&nbsp;&nbsp;&nbsp;miki</p>
          <p><img class="img-circle" src="http://static.mkfree.com/vps/images/index/dd.jpg">&nbsp;&nbsp;&nbsp;请问有没有关于ssh key登录的配置文章？&nbsp;&nbsp;&nbsp;jason</p>
          <p><img class="img-circle" src="http://static.mkfree.com/vps/images/index/dd.jpg">&nbsp;&nbsp;&nbsp;对于服务器的安全性，方面我应该怎么配置？&nbsp;&nbsp;&nbsp;vincent</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div>
      </div>
	</div>
	<div class="container">
		<hr class="featurette-divider"> 
		<!-- /END THE FEATURETTES -->
		<!-- FOOTER -->
		<footer>
			<p>&copy; 2012-2013 休闲网站(www.mkfree.com) | all right | power by oyhk | QQ联系:1109349806</p>
			<div class="row">
				<div class="span4">
					<p>技术支持<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1109349806&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1109349806:41" alt="技术支持" title="技术支持"/></a></p>
				</div>
				<div class="span4">
				     <p>常用工具</p>
				     <p><a href="http://ping.chinaz.com/" target="_blank">超级ping工具</a></p>
				     <p><a href="http://ip.chinaz.com/" target="_blank">ip查询工具</a></p>
				</div>
				<div class="span4">
				     <p>关于mkfree</p>
				     <p><a href="http://blog.mkfree.com" target="_blank">mkfree博客</a></p>
				</div>
			</div>
		</footer>
	</div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="http://static.mkfree.com/common/script/jquery/jquery.min.js"></script>
	<script src="http://static.mkfree.com/common/bootstrap/script/bootstrap.min.js"></script>
	<script>
		!function($) {
			$(function() {
				// carousel demo
				$('#myCarousel').carousel()
			})
		}(window.jQuery)
	</script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37255855-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </body>
</html>
