<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>mkfree vps 为客户提供便宜的VPS产品  - 价格列表 - mkfree博客</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Mkfree-VPS 是一个专门提供国外高性价比的VPS提供商，致力于提供性价比最高的VPS产品。我们每款产品均有7天退款期">
<meta name="author" content="">

<!-- Le styles -->
<link href="http://static.mkfree.com/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="http://static.mkfree.com/common/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->

<!-- Fav and touch icons -->
<#include "../include/logo.html"/>
</head>

<body>
	<#include "../include/vpsNavigation.html"/>
	<div class="container" style="margin-top: 100px;">
		<h1 class="pagination-centered pull-left" style="color: #E31">
			<img src="http://static.mkfree.com/vps/images/index/vps-logo.png" width="100px;" height="100px;" class="img-rounded"> VPS 服务器优惠大促销（现有服务器）,各种优惠送不停.免费体验一日
		</h1>
		<table class="table" style="border: 1px solid #cccccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;background-color: white;">
			<tbody>
				<tr class="success">
					<td>名称</td> <td>类型</td> <td>内存</td> <td>cpu</td> <td>硬盘</td> <td>月付</td> <td>季付</td> <td>半年付</td> <td>宽带</td><td>宽带流量</td> <td>数量</td>
				</tr>
				<tr  class="warning">
					<td>openvz 512 MB VPS</td>
					<td>openvz</td>
					<td>512 MB</td>
					<td>单核</td>
					<td>10G</td>
					<td><span class="label label-info">￥25/月</span></td>
					<td><span class="label label-info">￥70/季</span><span class="label label-important">优惠5元</span></td>
					<td><span class="label label-info">￥140/半年</span><span class="label label-important">优惠10元</span></td>
					<td>100M/S</td>
					<td>没有限制</td>
					<td>8</td>
				</tr>
				<tr  class="info">
					<td>openvz 1024 MB VPS</td>
					<td>openvz</td>
					<td>1024 MB</td>
					<td>单核</td>
					<td>20G</td>
					<td><span class="label label-info">￥50/月</span></td>
					<td><span class="label label-info">￥130/季</span><span class="label label-important">优惠20元</span></td>
					<td><span class="label label-info">￥250/半年</span><span class="label label-important">优惠50元</span></td>
					<td>100M/S</td>
					<td>没有限制</td>
					<td>4</td>
				</tr>
				<tr class="warning">
					<td>openvz 2048 MB VPS</td>
					<td>openvz</td>
					<td>2048 MB</td>
					<td>单核</td>
					<td>40G</td>
					<td><span class="label label-info">￥100/月</span></td>
					<td><span class="label label-info">￥250/季</span><span class="label label-important">优惠50元</span></td>
					<td><span class="label label-info">￥450/半年</span><span class="label label-important">优惠130元</span></td>
					<td>100M/S</td>
					<td>没有限制</td>
					<td>2</td>
				</tr>
				<tr  class="info">
					<td>openvz 3072 MB VPS</td>
					<td>openvz</td>
					<td>3072 MB</td>
					<td>单核</td>
					<td>70G</td>
					<td><span class="label label-info">￥150/月</span></td>
					<td><span class="label label-info">￥300/季</span><span class="label label-important">优惠150元</span></td>
					<td><span class="label label-info">￥680/半年</span><span class="label label-important">优惠230元</span></td>
					<td>100M/S</td>
					<td>没有限制</td>
					<td>1</td>
				</tr>
				<tr class="warning">
					<td>openvz 4096 MB VPS</td>
					<td>openvz</td>
					<td>4096 MB</td>
					<td>单核</td>
					<td>100G</td>
					<td><span class="label label-info">￥200/月</span></td>
					<td><span class="label label-info">￥350/季</span><span class="label label-important">优惠250元</span></td>
					<td><span class="label label-info">￥870/半年</span><span class="label label-important">优惠330元</span></td>
					<td>100M/S</td>
					<td>没有限制</td>
					<td>2</td>
				</tr>
				<tr class="success">
					<td>名称</td> <td>类型</td> <td>内存</td> <td>cpu</td> <td>硬盘</td> <td>月付</td> <td>季付</td> <td>半年付</td> <td>宽带</td><td>宽带流量</td> <td>数量</td>
				</tr>
				<tr class="warning">
					<td>xen 512 MB VPS</td>
					<td>xen</td>
					<td>512 MB</td>
					<td>单核</td>
					<td>10G</td>
					<td><span class="label label-info">￥35/月</span></td>
					<td><span class="label label-info">￥100/季</span><span class="label label-important">优惠5元</span></td>
					<td><span class="label label-info">￥200/半年</span><span class="label label-important">优惠10元</span></td>
					<td>100M/S</td>
					<td>没有限制</td>
					<td>暂缺</td>
				</tr>
				<tr class="info">
					<td>xen 1024 MB VPS</td>
					<td>xen</td>
					<td>1024 MB</td>
					<td>单核</td>
					<td>20G</td>
					<td><span class="label label-info">￥70/月</span></td>
					<td><span class="label label-info">￥190/季</span><span class="label label-important">优惠20元</span></td>
					<td><span class="label label-info">￥370/半年</span><span class="label label-important">优惠50元</span></td>
					<td>100M/S</td>
					<td>没有限制</td>
					<td>暂缺</td>
				</tr>
				<tr>
					<td colspan="8"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1109349806&site=qq&menu=yes">购买<img border="0" src="http://wpa.qq.com/pa?p=2:1109349806:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>&nbsp;&nbsp;24小时在线</td>
					<td colspan="2">测试ip:72.46.155.50</td>
					<td><span class="label label-important">支付宝帐号:381895649@qq.com  欧阳帆</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<hr class="featurette-divider"> 
		<!-- /END THE FEATURETTES -->
		<!-- FOOTER -->
		<#include "../include/vpsFooter.html"/>
	</div>
	<!-- ga analysis -->
	<#include "../include/ga_analysis.html"/>
  </body>
</html>
