<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>mkfree vps 为客户提供便宜的VPS产品  - 相关资料 - mkfree博客</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Mkfree-VPS 是一个专门提供国外高性价比的VPS提供商，致力于提供性价比最高的VPS产品。我们每款产品均有7天退款期">
<meta name="author" content="">

<!-- Le styles -->
<link href="http://static.mkfree.com/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="http://static.mkfree.com/common/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->

<!-- Fav and touch icons -->
<#include "../include/logo.html"/>
</head>

<body>
	<#include "../include/vpsNavigation.html"/>
	<div class="container" style="margin-top: 100px;">
	      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Mkfree-VPS 知识库</li>
              <li class="nav-header">VPS基础知识</li>
              <li><span ><a href="http://blog.mkfree.com/posts/5226e488479e696849617118" target="_blank">Openvz</a> & 
              <a href="http://blog.mkfree.com/posts/5226e7ec479e696849617119" target="_blank">Xen</a></span></li>
              <li><a href="#">nodejs(5)</a></li>
              <li class="nav-header">阅读排行</li>
              <li><a href="#">ubuntu nginx 安装配置...</a></li>
              <li><a href="#">ubuntu mysql 安装配置...</a></li>
              <li><a href="#">ubuntu nodejs 源代码分析...</a></li>
              <li><a href="#"></a></li>
              <li class="nav-header">最新评论</li>
              <li><a href="#">哇,什么博客啊?</a></li>
              <li><a href="#">博客代码能分享吗?</a></li>
              <li><a href="#"></a></li>
              <li class="nav-header">访问统计</li>
              <li><a href="#">今日访问:133</a></li>
              <li><a href="#">昨日访问:15</a></li>
              <li><a href="#">本周访问:235</a></li>
              <li><a href="#">本月访问:1000</a></li>
              <li><a href="#">所有访问:2330</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
          alsdfjlsadjfljsadlfj;dsa
          </div>
        </div><!--/span-->
      </div><!--/row-->
	</div>
	<div class="container">
		<hr class="featurette-divider"> 
       	<#include "../include/vpsFooter.html"/>
	</div>
	<#include "../include/ga_analysis.html"/>
  </body>
</html>
