<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>mkfree_休闲网站-博客-列表页</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="<@settingUrl>${mkfree_blog_url}</@settingUrl> (oyhk)">

<!-- Le styles -->
<link href="${mkfree_static_url}common/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="${mkfree_static_url}common/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}
</style>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
	<#include "../include/navigation.html"/>
	<div class="container">
		<div class="row">
			<ul class="breadcrumb">
				<li><a href="http://www.mkfree.com">首页</a> <span class="divider">/</span></li>
				<li><a href="http://blog.mkfree.com">博客</a> <span class="divider">/</span></li>
				<li class="active">列表</li>
			</ul>
		</div>
		<div class="row-fluid">
			<div class="span9">
				<div class="row">
					<ul class="nav nav-pills">
						<li class="active"><a href="#1" data-toggle="tab">最新博客</a></li>
						<li><a href="#2" data-toggle="tab">最新推荐</a></li>
						<li><a href="#3" data-toggle="tab">本周热点</a></li>
						<li><a class="btn-primary btn-large pull-right" href="#4">更 多...</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="1">
							<div class="span6">
								<ul>
									<@postsDisplay type=5 count=10 length=36> <#list blogPosts as posts>
									<li><a href="${mkfree_blog_url}posts/${posts.id}">${posts.title}</a></li> 
									</#list> </@postsDisplay>
								</ul>
							</div>
							<div class="span6 ">
								<ul>
									<@postsDisplay type=5 count=10 length=36 startIndex=10> <#list blogPosts as posts>
									<li><a href="${mkfree_blog_url}posts/${posts.id}">${posts.title}</a></li>
									</#list> </@postsDisplay>
								</ul>
							</div>
						</div>
						<div class="tab-pane" id="2">
							<div class="span6">
								<ul>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
								</ul>
							</div>
							<div class="span6 ">
								<ul>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
								</ul>
							</div>
						</div>
						<div class="tab-pane" id="3">
							<div class="span6">
								<ul>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
								</ul>
							</div>
							<div class="span6 ">
								<ul>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
									<li><a href="${mkfree_blog_url}posts/4">java设计模式 策略模式(strategy pattern)</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<h2>最新博文</h2>
					<ul class="unstyled">
						<#list pages.datas as posts>
						<li>
							<div class="span1">
								<img style="width: 54px; height: 40px;" src="${mkfree_upload_url}blog/user/000/000/001/icon/user_1.jpg">
							</div>
							<div class="span11">
								<a href="${mkfree_blog_url}posts/${posts.id}">${posts.title}</a>
								<p>${posts.summary}</p>
								<p>发表于:${posts.createTime?string('yyyy-MM-dd HH:mm:ss')} </p>
							</div>
						</li> </#list>
					</ul>
				</div>
				<!-- 分页 -->
				<#include "../include/page.html"/>
			</div>
			<!--/span-->
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li>
							<div style="height: 100px; width: 235px;">
								<div style="height: 100px; width: 130px; float: left;">
									<img alt="博主头像" src="http://upload.mkfree.com/blog/user/000/000/001/icon/user_1.jpg">
								</div>
								<div style="width: 95px; float: right;">
									<h4>oyhk</h4>
									<p>关注此人</p>
								</div>
							</div>
						</li>
						<li>喜欢一个人，是看到了他的优点；爱一个人，是包容他的缺点…喜欢是一种心情，爱是一种感情</li>
						<li class="nav-header">博客分类</li>
						<li><a href="#">java(10)</a></li>
						<li><a href="#">nodejs(5)</a></li>
						<li class="nav-header">阅读排行</li>
						<li><a href="#">ubuntu nginx 安装配置...</a></li>
						<li><a href="#">ubuntu mysql 安装配置...</a></li>
						<li><a href="#">ubuntu nodejs 源代码分析...</a></li>
						<li><a href="#"></a></li>
						<li class="nav-header">最新评论</li>
						<li><a href="#">哇,什么博客啊?</a></li>
						<li><a href="#">博客代码能分享吗?</a></li>
						<li><a href="#"></a></li>
						<li class="nav-header">访问统计</li>
						<li><a href="#">今日访问:133</a></li>
						<li><a href="#">昨日访问:15</a></li>
						<li><a href="#">本周访问:235</a></li>
						<li><a href="#">本月访问:1000</a></li>
						<li><a href="#">所有访问:2330</a></li>
					</ul>
				</div>
				<!--/.well -->
			</div>
			<!--/span-->
		</div>
		<!--/row-->

		<hr>
		<#include "../include/footer.html"/>
	</div>
	<!--/.fluid-container-->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="${mkfree_static_url}common/script/jquery/jquery.min.js"></script>
	<script src="${mkfree_static_url}common/bootstrap/script/bootstrap.min.js"></script>
</body>
</html>
