<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>用户注册|mkfree-博客</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="Keywords" content="休闲网站,休闲博客,java编程 ,java设计模式,java基础,编程技术,java" />
<meta name="description" content="mkfree 休闲网站--自由-博客,发表心情,分享技术,分享图片,分享视频">
<meta name="author" content="<@settingUrl>${mkfree_blog_url}</@settingUrl> (oyhk)">
<link href="${mkfree_static_url}/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="${mkfree_static_url}/common/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<#include "../include/logo.html"/>
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
</style>
</head>
<body>
	<#include "../include/navigation.html"/>
	<div class="container" style="min-height: 550px;">
		<h1>欢迎你[ ${account} ]加入mkfree-博客,一起完善这架构的博客..大学一起学习学习..你现在可以登录博客了!哈,博客还有很多bug,请见谅..</h1>
	</div>
	<div class="container">
		<#include "../include/footer.html" />
	</div>
	<!-- /container -->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="${mkfree_static_url}/common/script/jquery/jquery.min.js"></script>
	<script src="${mkfree_static_url}/common/bootstrap/script/bootstrap.min.js"></script>
</body>
</html>
