<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>${posts.title}-${posts.blogNick}(mkfree_休闲网站-博客)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="<@settingUrl>${mkfree_blog_url}</@settingUrl> (oyhk)">

<!-- Le styles -->
<link href="${mkfree_static_url}common/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
<link href="${mkfree_static_url}common/bootstrap3/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="${mkfree_static_url}common/prettify/prettify.min.css" type="text/css" rel="stylesheet" />
<#include "../include/logo.html"/>
<style type="text/css">
body {
	margin-top: 100px;
	/* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

.col-lg-8_5 {
	width: 71.2%;
	margin-left: 45px;
}

footer {
	margin: 50px 0;
}
</style>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body onload="prettyPrint();">
	<#include "../include/navigation.html" />
	<div class="container">
		<div class="col-lg-13">
			<ul class="breadcrumb">
				<li><a href="http://www.mkfree.com">首页</a></li>
				<li><a href="http://blog.mkfree.com">博客</a></li>
				<li><a href="http://blog.mkfree.com/list/1">博客列表</a></li>
				<li class="active">${posts.title}</li>
			</ul>
		</div>
		<div class="row ">
			<!-- 博客左側 -->
			<div class="col-lg-9">
				<div class="well">
					<h1>${posts.title}</h1>
					<hr>
					<p>
						作者：${posts.blogNick}&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> ${posts.createTime}&nbsp;&nbsp;<span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;0
						评论&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;${posts.views}浏览
					</p>
					<hr>
					<!-- <img src="http://placehold.it/100x100" class="img-responsive"> <hr> -->
					<p>${posts.content}</p>
				</div>
				<div class="well">
					上一篇:<@upNextPosts type=1 postsid=posts.id length=60> <#if upNextPosts.id?? ><a href="${mkfree_blog_url}posts/${upNextPosts.id}" title="${upNextPosts.summary}">${upNextPosts.title}</a><#else>没有了上一篇...</#if></@upNextPosts>&nbsp;&nbsp;&nbsp;&nbsp;
					下一篇:<@upNextPosts type=0 postsid=posts.id length=60> <#if upNextPosts.id?? > <a href="${mkfree_blog_url}posts/${upNextPosts.id}" title="${upNextPosts.summary}">${upNextPosts.title}</a>
					<#else> 没有了下一篇... </#if></@upNextPosts>
				</div>
				<div class="well">
					<p style="font-weight: bold;">相关博客文章</p>
					<ul class="list-unstyled">
						<@relatedPosts q=posts.title> <#list relatedPosts as posts>
						<li><a href="${mkfree_blog_url}posts/${posts.id}">${posts.title}</a></li> </#list> </@relatedPosts>
					</ul>
				</div>
				<!-- 博客评论 -->
				<div id="comments" class="well">
					<#assign commentIndex = 1 /> <#list blogComments as blogComment>
					<div>
						<h3>
							${commentIndex}楼:<a href="#" id="ref_${commentIndex}">${blogComment.nick}</a> <small>${blogComment.createTime}</small> <a href="javascript:voie(0)" class="pull-right"
								onclick="commentsRef('ref_${commentIndex}')">@Ta</a>
						</h3>
						<p>${blogComment.content}</p>
					</div>
					<#assign commentIndex = commentIndex+1 /> </#list>
				</div>
				<!-- 博客评论输入框 -->
				<div class="well">
					<div class="alert alert-success " id="comments_success" style="text-align: center; display: none;">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>发表评论成功!</strong>
					</div>
					<h4>发表评论:</h4>
					<span class="row"> <#if sso_user??> <input id="anonymityUserId" type="checkbox" value="0">&nbsp;&nbsp;匿名用户 <#else> <input id="inputVistorName" value=""
						type="text" class="span3" placeholder="留下你的网名..." /></#if>
					</span>
					<textarea id="comment_content" class="form-control"></textarea>
					<button class="btn btn-primary " onclick="saveBlogComment('${posts.id}','${posts.userId}','${commentIndex}'<#if sso_user??>,'${sso_user.id}','${sso_user.nick}'</#if>);">提交</button>
				</div>
			</div>
			<!-- 博客右側 -->
			<div class="col-md-3">
				<div class="well">
					<form class="form-inline" method="get" action="${mkfree_blog_url}so/blog" role="form" style="width: 303px;margin-left: -28px;">
					  <div class="form-group col-xs-8">
					    <input name="q" type="text" class="form-control" placeholder="搜 索 博 文">
					  </div>
					  <button type="submit" class="btn btn-primary">搜 索</button>
					</form>
				</div>
				<div class="well">
					<!-- 广告位 -->
					<a target="_blank" href="${mkfree_blog_url}vps"><span style="font-size: 30px; color: red;">vps 季付,半年付 优惠多多(新站促销),详细点击!!</span>
				</div>
				<div class="well">
					<ul class="nav nav-list">
						<li><a href="${mkfree_blog_url}nihaooywk/space" target="_blank"> <img alt="博主头像" width="80px;" src="http://upload.mkfree.com/blog/user/000/000/001/icon/user_1.jpg">oyhk
						</a></li>
						<li>喜欢一个人，是看到了他的优点；爱一个人，是包容他的缺点…喜欢是一种心情，爱是一种感情</li>
						<li class="nav-header">博客分类</li>
						<li><a href="#">java(10)</a></li>
						<li><a href="#">nodejs(5)</a></li>
						<li class="nav-header">阅读排行</li>
						<li><a href="#">ubuntu nginx 安装配置...</a></li>
						<li><a href="#">ubuntu mysql 安装配置...</a></li>
						<li><a href="#">ubuntu nodejs 源代码分析...</a></li>
						<li><a href="#"></a></li>
						<li class="nav-header">最新评论</li>
						<li><a href="#">哇,什么博客啊?</a></li>
						<li><a href="#">博客代码能分享吗?</a></li>
						<li><a href="#"></a></li> <@blogAccessCount userId=posts.userId>
						<li class="nav-header">访问统计</li>
						<li><a href="#">今日访问:${blogAccessCount.todayCount}</a></li>
						<li><a href="#">昨日访问:${blogAccessCount.yesterdayCount}</a></li>
						<li><a href="#">本周访问:${blogAccessCount.weekCount}</a></li>
						<li><a href="#">本月访问:${blogAccessCount.monthCount}</a></li>
						<li><a href="#">所有访问:${blogAccessCount.allCount}</a></li> </@blogAccessCount>
					</ul>
				</div>
			</div>
		</div>

		<hr>
		<#include "../include/footer.html"/>
	</div>
	<!--/.fluid-container-->
	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="${mkfree_static_url}common/script/jquery/jquery.min.js"></script>
	<script src="${mkfree_static_url}common/bootstrap3/js/bootstrap.min.js"></script>
	<script src="${mkfree_static_url}common/prettify/prettify.min.js"></script>
	<script src="${mkfree_static_url}/common/kindeditor-4.1.4/kindeditor-min.js"></script>
	<script src="${mkfree_static_url}/common/kindeditor-4.1.4/lang/zh_CN.js"></script>
	<script type="text/javascript">
		//博客回复(引用,相当于@xxx)
		var ref = '';
		//回复博客一共有多少条记录
		var commentCount;
		/**
		 * 异步提交对博客的评论
		 *
		 * param postsId 回复的博客文章ID
		 * param blogUserId 发表博客用户id
		 * param commentIndex 回复博客一共有多少条记录
		 * param replyUserId 回复人的用户ID
		 * param replyUserNick 回复人昵称,用来做页面显示,加数据沉余
		 */
		function saveBlogComment(postsId,blogUserId,commentIndex,replyUserId,replyUserNick) {
			if(commentCount == undefined){
				commentCount = commentIndex; //这篇博客的回复总数--例如:1楼,2楼.....
			}
			if($("#anonymityUserId").attr("checked") == "checked"){ //是否匿名用户
				replyUserId = $("#anonymityUserId").val(); //那么replyuserId就是为0了
			}
			if($.trim($("#inputVistorName").val()).length > 0){
				replyUserNick = $.trim($("#inputVistorName").val());
			}
			$.ajax({
				type : "POST",
				url : '/comment/save',
				data : {
					postsId : postsId,
					toUserId : blogUserId,
					fromUserId : replyUserId,
					nick : replyUserNick,
					content :kedit.html()
				},
				success : function(data, textStatus, jqXHR) {
					if(data.success){ //成功.
						var obj = data.obj;
						// 组装评论内容,异步显示..
						var content = '<div><h3>'+commentCount+'楼:<a href="#" id="ref_'+commentCount+'">'+obj.nick+'</a> <small>'+obj.createTime+'</small>'+
									  ' <a href="javascript:voie(0)" class="pull-right" onclick="commentsRef(\'ref_'+commentCount+'\')">@Ta</a> </h3> <p>'+obj.content+ref+'</p> </div>';
						$("#comments").append(content);
						$("#comments_success").show("slow");
						kedit.html("");
						setTimeout(function(){$("#comments_success").hide("slow");},4000);
						commentCount ++; //回复完后,总数加加
					}else{
						$("#comments_warn").show("slow");
						setTimeout(function(){$("#comments_warn").hide("slow");},4000);
					}
				},
				dataType : "json"
			});
		}
		/**
		 * 引用博客回复   @xxx...
		 */
		function commentsRef(refId){
			var refValue = $("#"+refId).html();
			ref  = '&nbsp;&nbsp;<a href="#">@'+refValue+'</a>';
			kedit.focus();
		}
	</script>
	<script type="text/javascript">
		var kedit;
		KindEditor.ready(function(K) {
			kedit = K.create('#comment_content', {
				width : '805px',
				height : '300px',
				items : [ 'source', '|', 'undo', 'redo', 'cut', 'copy', 'paste', '|', 'code', 'justifyleft', 'justifycenter', 'justifyright',
				          'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', '|', 'formatblock', 'fontname', 'fontsize', '|', 
				          'forecolor', 'hilitecolor', 'bold', 'removeformat', 'hr', 'emoticons', 'link', 'unlink' , 'preview', 'fullscreen'
				        ]
			});
		});
	</script>
</body>
</html>
